nav{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}
nav>a{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
a+a{
  border-left: 1px solid black;
}